
body{
	font-family: helvetica,arial, sans-serif;
	font-size: 15px;
	background:#00BFFF;
}
.container{
	width: 500px;
	margin:auto;
	background: #01DF74;
}
.title{
	font-size: 30px;
	font-weight: bold;
	font-family: "courier new", monospace;
	padding-bottom: 2px;
}
.chat {
	border: 1px solid #ccc;
	height: 490px;
	overflow-y: scroll;
	background-color: #F2F2F2;
	
}

.chat div {
	margin: 10px 11px 14px;

}

.chat .party {
	font-weight: bold;

}

.chat .you {
	width: 80%;
	margin: 10 5px 0;
	border-radius: 10px;
	color: #01DF74;
	font-size: 16px;
}

.chat .other {
	width: 80%;
	margin: 10 5px 0;
	border-radius: 10px;
    color: blue;
	font-size: 16px;
}



.busy {
	position: absolute;
	padding: 3px 0;
	color: #666;
	display: none;
	font-size: 11px;
}

.input {
	margin-top: 5px;
}

.input input {
	vertical-align: top;
    float: left;
	border: 1px solid #ccc;
	padding: 8px;
	width: 380px;
	margin: 0;
	border-radius: 5px;
}

.input a {
	float: right;
	background: #00FF40;
	padding: 5px 20px;
	font-size: 20px;
	color: #424242;
    border-radius: 3px;
	cursor: pointer;
}
	

.input a:hover {
	background-color: #04B404;
	cursor: pointer;
}
